<div class="container-fluid">



  <div class="row align-items-center" style="height: 100vh;">
    <div class="col-md-6" style="border: 1px dashed green;">
      <div class="upload">
        <input type="file" (change)="onFileSelected($event)">

        <div *ngIf="uploading" style="color: white;">
          <!-- Spinner de espera -->
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p>Uploading image...</p>
        </div>

        <div *ngIf="imagePreviewUrl">
          <!-- Previsualización de la imagen -->
          <div class="d-flex justify-content-center">
            <img [src]="imagePreviewUrl"  height="80%" width="80%" alt="Image Preview">
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6" style=" color: white; border: 1px dashed red;">
      <h3 class="text-center">Personas Econtradas: <h2 class="perspective">{{ personasEcontradas }}</h2></h3>
      <div class="row justify-content-center">
        <ng-container>
          <!-- <div class="col-md-3 mx-2 my-2" *ngFor="let item of mensaje; let i = index">
            <div class="card perspective">
              <img [src]="'data:image/png;base64,' + item.imagen" class="card-img-top" alt="iamgenRecortada">
              <div class="card-body">
                  <p class="card-text" style="height: 100px; overflow-y: scroll;">{{ item.encoding }}</p>
                  <h4>Nombres:</h4>
                  <p>{{item.nombre}} {{item.apellido}}</p>
                  <div *ngIf="item.nombre == 'No'">
                    <button class="btn btn-warning" (click)="guardarPerson(persona, item.encoding)">Guardar</button>
                  </div>
              </div>
            </div>
          </div> -->

          <div class="col-md-3 mx-2 my-2" *ngFor="let item of respuesta; let i = index">
            <div class="card perspective">
              <img [src]="'data:image/png;base64,' + item.imagen" class="card-img-top" alt="iamgenRecortada">
              <div class="card-body">
                  <p class="card-text" style="height: 100px; overflow-y: scroll;">{{ item.encodings }}</p>
                  <h4>Nombres:</h4>
                  <p>{{item.nombre}} {{item.apellido}}</p>
                  <div *ngIf="item.nombre == 'No'">
                    <button class="btn btn-warning" (click)="guardarPerson(persona, item.encoding)">Guardar</button>
                  </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
