.fondo {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

/* subir imagen */
.btn-block {
  width: 100%;
}

.card {
  --bs-card-cap-bg: rgb(100 149 237);
}

.card-body img {
  width: 150px;
  height: 150px;
  display: block;
  opacity: 0.5;
  margin: 0px auto;
}

.txt-up {
  opacity: 0.7;
  color: black;
}

.sombra {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px 10px #4b4a49;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.perspective{
  transform: rotateY(0deg) rotateX(5deg) translateX(0%) translateZ(150px);
  animation-name: example;
  animation-duration: 2s;
}
@keyframes example {
  0% { transform: perspective(400px) rotateY(-5deg) rotateX(-5deg) translateX(8%) translateZ(-150px); }
  100% {  transform: rotateY(0deg) rotateX(5deg) translateX(0%) translateZ(150px); }
}
